params {
    input = "$projectDir/data"
    outdir = "$projectDir/results"
}

process {
    // Reduced from 4 to 2 to avoid resource contention
    cpus = 2 
    
    // Lowered to 1.5 GB to fit within your 1.8 GB available limit
    memory = '1.5 GB' 
}

// Report options
report {
    enabled = true
    file = "${params.outdir}/pipeline_report.html"
    overwrite = true
}

timeline {
    enabled = true
    file = "${params.outdir}/timeline.html"
    overwrite = true
}

trace {
    enabled = true
    file = "${params.outdir}/trace.txt"
    overwrite = true
}
