params {
    input = "$projectDir/data"
    outdir = "$projectDir/results"
}

process {
    cpus = 4
    memory = '4 GB'
}

// Report options
report {
    enabled = true
    file = "${params.outdir}/pipeline_report.html"
}

timeline {
    enabled = true
    file = "${params.outdir}/timeline.html"
}

trace {
    enabled = true
    file = "${params.outdir}/trace.txt"
}
