params {
   
    fastqc_bin = "/home/admin0/miniconda3/envs/bnf/bin/fastqc"
    cutadapt_bin = "/home/admin0/miniconda3/envs/bnf/bin/cutadapt"
    bwa_bin = "/home/admin0/miniconda3/envs/bnf/bin/bwa"
    samtools_bin = "/home/admin0/miniconda3/envs/bnf/bin/samtools"
    bcftools_bin = "/home/admin0/miniconda3/envs/bnf/bin/bcftools"

    fastq_dir = "/home/admin0/ngs_pipeline/data"
    output = "/home/admin0/ngs_pipeline/results"
    genome = "/home/admin0/ngs_pipeline/refrence_genome/chr22.fa"
}
